{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Vena", "Cordial", "Iliac", "Tubal", "Arteria", "Celia", "Thorac", "Osseous", "Popliteal", "Varicosa", "Vulin", "Pulmon", "Circula", "Brachial", "Jugular", "Basilar", "Pulmonary" ],
      [ { "mode" : "alts" }, " Cava", " Hearth", " Cavernosa", " Corpora", " Varicosa", " Tori", " Lamina", " Plexus", " Thelial", " Aorta", " Renal", " Superior", " Inferior", " Major", " Minor", " Cerebral", " Radial", " Ulnar", " Circumflex", " Axillary" ]
    ]
  ]
}
